{% extends 'bootstrap/base.html' %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{ url_for('.static', filename='css/styles.css') }}">
{% endblock %}

{% block title %}ATC INFORMATION{% endblock %}

{% block content %}
<div class="jumbotron text-center">
    <div class="container">
  <h1 class="display-4">🛫 ATC INFORMATION 🛩️</h1>
  <p class="lead">You can check the latest ATC information.</p>

    <table class="table table-info">
    <thead>
            <tr>
                <th class="text-center" style="width: 30%">ITEM</th>
                <th class="text-center">CONTENT</th>
            </tr>
    </thead>
    <tbody>
    {% for i in info %}
        <tr>
            <th scope="row">{{ i }}</th>
            <td class="text-left h4">{{ info[i] }}</td>
        </tr>

    {% endfor %}
    <tbody>
    </table>
  <hr class="my-5">
  <p>Download CSV file.</p>
  <a class="btn btn-info btn-lg" href="{{ url_for('download') }}" role="button">Download</a>
</div>
    </div>

{% endblock %}